@import "../node_modules/bootstrap/scss/bootstrap";

#logo {
  margin-left: 15%;
}

#navlist {
  float: right;
}

#navbarSupportedContent {
  margin-right: 15%;
}

#herocontainer {
  height: 100vh;
  background: #2e3047;
  color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f3f3f3;
}

.sticky-top {
  background-color: #2e3047 !important;
  box-shadow: 0 2px 2px -2px #2e3047 !important;
  height: 10vh;

  /* position: relative; */
}

.sticky-top .navbar-brand {
  color: #b0b2c3;
}

.sticky-top .nav-link {
  color: #b0b2c3 !important;
}

.sticky-top.scrolled {
  background-color: #242636 !important;
  transition: background-color 300ms linear;
  box-shadow: 10 20rem 20rem rgba(black, 0.175) !important;
}

.sticky-top.scrolled .nav-link {
  color: white !important;
}

.sticky-top.scrolled .navbar-brand {
  color: white;
}

.main-projects {
  width: 100vw;
  /* height: 500px; */
  background-color: #f3f3f3;
}

.main-text {
  display: flex;
  align-items: center;
  height: 100%;
}

.text-container {
  flex-grow: 2;
  padding-left: 20vw;
}

.main-name {
  font-size: 3.9975843648em;
  font-family: "Spartan", sans-serif;
  margin-bottom: 6px;
  font-weight: bold;
  color: #ffffff;
}

.name-title {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  padding-left: 4px;
  padding-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 1.17em;
}

.projects-link {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  padding-left: 4px;
}

.contact-icons {
  /* flex-grow: 1;
  text-align: end; */

  display: flex;
  justify-content: end;
  flex-direction: column;
  color: #cccdda;
  margin-right: 1em;
}

.linkedin-icon {
  margin-bottom: 1.2em;
}

.section-project-text {
  text-align: center;
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: #b19386;
  margin-bottom: 25px;
  margin-top: 60px;
}

h4 {
  font-weight: bold;
}

.works-title {
  text-align: center;
  margin-bottom: 70px;
  color: #4a4a4a;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  line-height: 1.1253;
  opacity: 1;
  font-size: 1.999396em;
  margin-top: 40px;
}

.project-item {
  margin-bottom: 135px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
}

.project-specific1 {
  background: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)),
    url("../images/YalperMain.png");
  display: block;
  width: 60vw;
  height: 550px;
  background-color: #1c1d25;
  position: relative;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s;
}

.project-specific3 {
  background: linear-gradient(rgba(61, 61, 61, 0.7), rgba(61, 61, 61, 0.7)),
    url("../images/jungle.png");
  display: block;
  width: 60vw;
  height: 550px;
  background-color: #1c1d25;
  position: relative;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s;
}

.project-specific4 {
  background: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)),
    url("../images/Mapple.png");
  display: block;
  width: 60vw;
  height: 550px;
  background-color: #1c1d25;
  position: relative;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s;
}

.project-specific5 {
  background: linear-gradient(rgba(61, 61, 61, 0.7), rgba(61, 61, 61, 0.7)),
    url("../images/Tweeter.png");
  display: block;
  width: 60vw;
  height: 550px;
  background-color: #1c1d25;
  position: relative;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s;
}

.project-specific6 {
  background: linear-gradient(rgba(61, 61, 61, 0.7), rgba(61, 61, 61, 0.7)),
    url("../images/tinyapp.png");
  display: block;
  width: 60vw;
  height: 550px;
  background-color: #1c1d25;
  position: relative;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s;
}

.project-specific1:hover {
  transform: scale(1.06);
}

.project-specific2:hover {
  transform: scale(1.06);
}

.project-specific3:hover {
  transform: scale(1.06);
}

.project-specific4:hover {
  transform: scale(1.06);
}

.project-specific5:hover {
  transform: scale(1.06);
}

.project-specific6:hover {
  transform: scale(1.06);
}

/* PROJECTS */

.project-text {
  position: absolute;
  left: 90px;
  bottom: 90px;
  color: #fff;
  z-index: 10;
  max-width: 550px;
}

.project-text-right {
  display: block;
  position: absolute;
  right: 90px;
  bottom: 90px;
  color: #fff;
  z-index: 10;
  max-width: 550px;
  text-align: right;
}

.project-text-title {
  margin-bottom: 0.13265em;
  font-size: 2.8271em;
  line-height: 1.061;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}

.project-text-description {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  font-weight: 100 !important;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 1.1em;
  width: 25rem;
  color: #f3f3f3;
  margin-top: 20px;
}

.project-text-description-right {
  display: block;
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  font-weight: 100 !important;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 1.1em;
  width: 100%;
  color: #f3f3f3;
  margin-top: 20px;
  text-align: right !important;
}

.project-button {
  font-family: "Spartan", sans-serif;
  font-size: 0.875em;
  letter-spacing: 3px;
  padding: 12px 20px;
  background-color: #985e6d;
  background: linear-gradient(270deg, #985e6d, #8b4457);
  color: #fff;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  margin-top: 10px;
  box-shadow: 0 10px 40px 0 rgb(0 0 0 / 50%);
}

.project-specific2 {
  background: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)),
    url("../images/interviewscheduler.png");
  display: block;
  width: 60vw;
  height: 550px;
  background-color: #1c1d25;
  position: relative;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.7s;
}
