@import "../node_modules/bootstrap/scss/bootstrap";

#logo {
  margin-left: 15%;
}

#navlist {
  float: right;
}

#navbarSupportedContent {
  margin-right: 15%;
}

#herocontainer {
  height: 100vh;
  background: #2e3047;
  color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f3f3f3;
}

.sticky-top {
  background-color: #2e3047 !important;
  box-shadow: 0 2px 2px -2px #2e3047 !important;
  height: 10vh;

  /* position: relative; */
}

.sticky-top .navbar-brand {
  color: #b0b2c3;
}

.sticky-top .nav-link {
  color: #b0b2c3 !important;
}

.sticky-top.scrolled {
  background-color: #242636 !important;
  transition: background-color 300ms linear;
  box-shadow: 0 2px 2px -2px #2e3047 !important;
}

.sticky-top.scrolled .nav-link {
  color: white !important;
}

.sticky-top.scrolled .navbar-brand {
  color: white;
}

.navbar-new {
  background-color: #12131b !important;
  box-shadow: -1px 9px 40px -12px #2e3047 !important;
}

.main-projects {
  width: 100vw;
  /* height: 500px; */
  background-color: #f3f3f3;
}

.main-text {
  display: flex;
  align-items: center;
  height: 100%;
}

.text-container {
  flex-grow: 2;
  padding-left: 20vw;
}

.main-name {
  font-size: 3.9975843648em;
  font-family: "Spartan", sans-serif;
  margin-bottom: 6px;
  font-weight: bold;
  color: #ffffff;
}

.name-title {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  padding-left: 4px;
  padding-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 1.17em;
}

.projects-link {
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  padding-left: 4px;
}

.contact-icons {
  /* flex-grow: 1;
  text-align: end; */

  display: flex;
  justify-content: end;
  flex-direction: column;
  color: #cccdda;
  margin-right: 1em;
}

.linkedin-icon {
  margin-bottom: 1.2em;
}

.section-project-text {
  text-align: center;
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
    serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: #b19386;
  margin-bottom: 25px;
  margin-top: 60px;
}

h4 {
  font-weight: bold;
}

.works-title {
  text-align: center;
  margin-bottom: 70px;
  color: #4a4a4a;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  line-height: 1.1253;
  opacity: 1;
  font-size: 1.999396em;
  margin-top: 40px;
}

.project-item {
  margin-bottom: 135px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
}

.project-specific {
  background-image: url("YalperMain.png");
  display: block;
  width: 70vw;
  height: 480px;
  /* background-color: #1c1d25; */
  position: relative;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
